html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(58deg, #6f0e6c , #E4E9FD );
  min-height: 1000px;
  font-family: 'Prompt', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: linear-gradient(35deg, #10f5b0, #5b548a);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #ae8aeb;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 5px groove white;
 
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: whitesmoke;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.918);
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
text-align: center;

  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #211a23;
  color: #fff;
  font-size: 30px;
  /* padding-bottom: 1.5px; */
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  /* box-shadow: inset 0 -3px 0 0 whitesmoke; */
  color: whitesmoke;
}

::placeholder {
  color: white;
  opacity: 1;
}

footer {
  color: white;
  text-align: center;
}




/* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */